{% extends "model-page.html" %}
{% block style %}
<style>
    .polaroid{
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        }
    .container{
        padding: 10px;
</style>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            {% for customer in customers %}
            <div class="col-sm-4">
                <a href="">
                    <div class="polaroid">
                        <div class="container">
                            <p>CPF: {{customer.cpf}}</p>
                        </div>
                        <div class="container">
                            <p>E-mail: {{customer.email}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}